@import './include/color.scss';

.atlas-navbar {
  padding: 16px 0;

  .navbar-brand {
    margin-left: 0 !important;
    a {
      padding-top: 0;
      padding-bottom: 0;

      img {
        max-height: 50px;
        height: 50px;
      }
    }
  }
  a.navbar-item {
    &:hover {
      color: $color-text-light-grey;
    }
  }
  .has-dropdown {
    .navbar-link {
      &:hover {
        color: $color-text-light-grey;
      }
    }
  }
}
