@import "./include/color.scss";
@import "./include/font.scss";

$family-sans-serif: "Inter", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-serif: "Rasa", "Georgia", "Times New Roman", serif;

$title-family: $family-serif;

@import "../../../node_modules/bulma/bulma";
@import "../../../node_modules/@creativebulma/bulma-badge/src/sass/index";
@import "../../../node_modules/bulma-switch/src/sass/index";
@import "../../../node_modules/@creativebulma/bulma-tooltip/src/sass/index";


@media screen and (min-width: $desktop) {
  .atlas-navbar .navbar-start {
    padding-top: 0 !important;
  }
}

@media screen and (min-width: $desktop) {
  .hide-desktop {
    display: none !important;
  }
}

div.column.is-narrow:empty {
  padding: 0 !important;
}

/* remove tooltip underline*/
span {
  &[data-tooltip]{
    border-bottom: unset;
    border-bottom-color: unset;
}}
