exclude: >
  (?x)(
      migrations/|
      docs/|
      node_modules/|
      static/lib/|
      CACHE/
  )

files: ^atlas/

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: pretty-format-json
        args: [--autofix]
      - id: check-json
        exclude: package-lock.json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/timothycrosley/isort
    rev: 4.3.21
    hooks:
      - id: isort
        additional_dependencies: [toml]
  - repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
      - id: black
        language_version: python3.8
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1'
    hooks:
      - id: prettier
        name: prettier-js
        args: [--write,--loglevel=error]
        types: [javascript]
        files: atlas/static/js/.*.js$
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: 'v7.19.0'
    hooks:
      - id: eslint
        args: [--fix]
        files: atlas/static/js/.*.js$
        types: [file]
        additional_dependencies:
        - eslint-config-prettier@^7.1.0
        - eslint-plugin-prettier@^3.3.1
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: 'v2.2.1'
    hooks:
      - id: prettier
        name: prettier-css
        args: [--write,--loglevel=error]
        types: [css]
        files: atlas/static/css/.*.css$
  - repo: https://github.com/awebdeveloper/pre-commit-stylelint
    rev: '8f63da4'
    hooks:
      - id: stylelint
        files: atlas/static/css/.*.css$
        args: [--fix]
        additional_dependencies:
        - prettier@^2.2.1
        - stylelint@13.2.1
        - stylelint-config-standard@20.0.0
        - stylelint-config-prettier@^8.0.2
        - stylelint-config-standard@^20.0.0
        - stylelint-prettier@^1.1.2
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.13.0
    hooks:
      - id: pyupgrade
  - repo: https://github.com/christopherpickering/pre-commit-hooks
    rev: 0.0.6
    hooks:
      - id: poetry-to-requirements
        args: [--dev,--output=atlas/requirements.txt]

  - repo: git://github.com/alphagov/verify-travis-pre-commit-hook
    sha: master
    hooks:
    -   id: travis-yml-lint
