node_modules/*
atlas/static/css/*.css
atlas/static/lib/*
solr/*
solr
atlas/static/font/rasa/*
atlas/static/font/inter/*
atlas/static/font/source-code-pro/*
atlas/static/lib/codemirror/*
atlas/static/lib/flowchart/*
atlas/static/lib/highlight/*
*.min.js
*.build.js
coverage/*
coverage*
**/migrations/*
**/tests/*
atlas/static/CACHE/*
.venv/*
.mypy_cache/*
.tox/*
.lighthouseci/*
