{% verbatim %}
    <div class="srch">
        <div class="srch-colOne">
        {% endverbatim %}
        {% include "handlebars/search_filters.html" %}
        {% verbatim %}
        </div>
        <div class="srch-colTwo" id="results">
            <div class="srch-results" ss-container="ss-container">
                {{#if collections }}
                    {{#each collections }}
                        <div class="srch-result srch-resultProj">
                            <!-- fav links -->
                            <div class="fav-links">
                                <div class="fav-star">
                                    <i fav-type="collection"
                                       object-id="{{ this.collection_id }}"
                                       class="far fa-star"></i>
                                </div>
                                <div class="fav-share darken"
                                     data-toggle="mdl"
                                     data-target="shareModal"
                                     data-type="collection"
                                     data-name="{{ this.name }}"
                                     data-url="/collections/{{ this.collection_id }}">
                                    <i class="fas fa-share"></i>
                                </div>
                            </div>
                            <!-- fav body -->
                            <div class="fav-body fav-bodyProj">
                                <h5 class="fav-title"
                                    data-toggle="clps"
                                    data-target="clps-proj-{{ this.collection_id }}">
                                    <span>{{ this.name }}</span>
                                    <div class="fav-type">
                                        <span class="srch-field">Collection</span>
                                    </div>
                                </h5>
                                <h5 class="fav-nav">
                                    <a title="open collection" href="/collections/{{ this.collection_id }}">Open In Atlas</a>
                                </h5>
                                <div class="clps fav-dtls" id="clps-proj-{{ this.collection_id }}">
                                    <div class="markdown noleft">
                                        {{#if this.purpose }}
                                            {{ this.purpose }}
                                        {{^}}
                                            {{ this.description }}
                                        {{/if }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each }}
                {{/if }}
                {{#each docs }}
                    <div class="srch-result">
                        <!-- fav links -->
                        <div class="fav-links">
                            <div class="fav-star">
                                <!-- {% endverbatim %}{{ favorites }}{% verbatim %} -->
                                <i fav-type="{{ this.type }}"
                                   object-id="{{ this.atlas_id }}"
                                   class="far fa-star {{ this.favorite }}"></i>
                            </div>
                            <div class="fav-share darken"
                                 data-toggle="mdl"
                                 data-target="shareModal"
                                 data-type="report"
                                 data-name="{{ this.name }}"
                                 data-url="{{ Id }}">
                                <i class="fas fa-share"></i>
                            </div>
                            <!-- only if there is a run button present -->
                            <div class="fav-access"
                                 data-toggle="mdl"
                                 data-target="requestAccessModal"
                                 data-name="{{ name }}">
                                <i class="fas fa-universal-access"></i>
                            </div>
                        </div>
                        <!-- fav body -->
                        <div class="fav-body">
                            <h5 class="fav-title" data-toggle="clps" data-target="clps-{{ this.id }}">
                                <span>
                                    {{#if documented }}
                                        {{#if_in this.type '["reports"]' }}
                                            <span class="text-success"><i class="fas fa-check"></i>
                                        </span>
                                    {{/if_in }}
                                {{/if }}
                                {{#if_in this.type '["terms","collections","initiatives"]' }}
                                    <span class="text-success"><i class="fas fa-check"></i>
                                </span>
                            {{/if_in }}
                            {{ name }}
                            {{#if this.epic_record_id }}
                                {{ this.epic_master_file }} {{ this.epic_record_id }}
                            {{/if }}
                        </span>
                        <div class="fav-type">
                            {{#if certification }}
                                {{#if_cond certification '==' "Analytics Certified" }}
                                    <span class="srch-fieldHunterGreen">{{ certification }}</span>
                                {{/if_cond }}
                                {{#if_cond certification '==' "Analytics Reviewed" }}
                                    <span class="srch-fieldGreen">{{ certification }}</span>
                                {{/if_cond }}
                                {{#if_cond certification '==' "Epic Released" }}
                                    <span class="srch-fieldOrange">{{ certification }}</span>
                                {{/if_cond }}
                                {{#if_cond certification '==' "Legacy" }}
                                    <span class="srch-fieldOrange">{{ certification }}</span>
                                {{/if_cond }}
                                {{#if_cond certification '==' "High Risk" }}
                                    <span class="srch-fieldRed">{{ certification }}</span>
                                {{/if_cond }}
                            {{/if }}
                            <span class="srch-field">{{ titleCase type }}</span>
                        </div>
                    </h5>
                    <h5 class="fav-nav">
                        <a title="open in atlas" href="/{{ this.type }}/{{ this.atlas_id }}">Open In Atlas</a>
                        <!-- if run url -->
                        <!--<a target="_blank" rel="noopener" href="@this.ReportUrl">Run Report</a> -->
                        <!-- else
                            {
                                if(this.EditReportUrl != null && @Model.Permissions.Contains(38))
                                {
                                    <div style="position: relative;">
                                        <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Open in report library.">Run Report</span>
                                    </div>
                                } else 
                                {
                                    <div style="position: relative;">
                                        <span class="tt-top" style="color:grey;position: relative;white-space: nowrap;cursor:default" data-tooltip="Login to Hyperspace to run report.">Run Report</span>
                                    </div>
                                }
                                } -->
                        <!--
                            @if (this.EditReportUrl != null && @Model.Permissions.Contains(38))
                            {
                                <a target="_blank" rel="noopener" href="@this.EditReportUrl">Edit Report</a>
                            }
                            @if (this.ManageReportUrl != null && @Model.Permissions.Contains(38))
                            {
                                <a target="_blank" rel="noopener" href="@this.ManageReportUrl">Manage Report</a>
                                }-->
                    </h5>
                    <div class="clps fav-dtls" id="clps-{{ this.id }}">
                        <div class="markdown noleft">
                            {{ this.description }}
                            <!--
                                @if (this.Description != null && this.Description != "")
                                {
                                    @if(this.SearchField == "Query"){
                                    @if(@Request.Headers["User-Agent"].ToString().Contains("Trident")){
                                     @:Open in Atlas to view query.
                                } else {
                                     <div class="query-box">
                                        <div class="query-box-inner light ss-preview" id="query-@this.Id" ss-container>
                                <pre><code class="sql" id="code-@this.Id">@this.Description</code></pre>
                                                                            </div>
                                                                </div>
                                                                }
                                                                } else {
                                                                @Html.Raw(@Helpers.HtmlHelpers.MarkdownToHtml(@this.Description))
                                                                }
                                                                } else {
                                                                @:Open in Atlas to see details.
                                                                }-->
                </div>
            </div>
        </div>
    </div>
{{/each }}
{% endverbatim %}
{% include "handlebars/search_pagination.html" %}
{% verbatim %}
    {{#unless hits }}
    <div class="srch-none">
        <h5>
            Not finding what you are looking for?
            <br />
            <a title="request a new report" href="#" target="_blank">Request a New Report here.</a>
        </h5>
        <p>
            <hr />
            A few things to consider -
            <br />
            <br />
            Are you searching for a private or hidden report? Try out the advanced search filters!
            <br />
            Is it a new Hyperspace Report? Hyperspace reports typically are not imported until the following business day.
            <br />
            Is it a new SSRS Report? SSRS reports typically take two hours to be loaded into the search results.
        </p>
    </div>
{{/unless }}
</div>
</div>
</div>
{% endverbatim %}
