{% verbatim %}
<h2 class="fav-col-title">Filters</h2>
<form id="searchForm">
    <input type="hidden" value="@Model.SearchString" name="s" />
    <input type="hidden" value="@Model.SearchFilter" name="f" />
    <input type="hidden" value="@Model.SearchField" name="sf" />
    
    {{#each facet_counts.facet_fields }}
        
        {{#if (filter_exists this) }}
            <h5 class="fav-col-sub-title">{{filter_name @key }}</h5>
            <div class="srch-fltr">
                {{#each this }}
                    {{#if this }}
                    <div class='form-check search-filter' group="{{filter_name_lower @../key }}" group-value="{{filter_name_lower @key }}">
                        <input type="checkbox"/>
                        <input type="hidden" />
                        <label>{{filter_name @key }}{{@search_filters.type }}<span class="search-filterQty">{{ this }}</span></label>
                    </div>
                    {{/if}}
                {{/each}}
            </div>
        {{/if}}
    {{/each}}
</form>
{% endverbatim %}
