@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(/static/font/inter/files/inter-latin-400-normal.woff2)
      format("woff2"),
    url(/static/font/inter/files/inter-all-400-normal.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(/static/font/inter/files/inter-latin-600-normal.woff2)
      format("woff2"),
    url(/static/font/inter/files/inter-all-600-normal.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(/static/font/inter/files/inter-latin-700-normal.woff2)
      format("woff2"),
    url(/static/font/inter/files/inter-all-700-normal.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Rasa;
  font-style: normal;
  font-weight: 600;
  src: url(/static/font/rasa/files/rasa-latin-600-normal.woff2) format("woff2"),
    url(/static/font/rasa/files/rasa-all-600-normal.woff) format("woff");
}
@font-face {
  font-display: block;
  font-family: Font Awesome\5 Free;
  font-style: normal;
  font-weight: 400;
  src: url(/static/font/fontawesome/webfonts/fa-regular-400.eot);
  src: url(/static/font/fontawesome/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.woff) format("woff"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
}
.far {
  font-weight: 400;
}
@font-face {
  font-display: block;
  font-family: Font Awesome\5 Free;
  font-style: normal;
  font-weight: 900;
  src: url(/static/font/fontawesome/webfonts/fa-solid-900.eot);
  src: url(/static/font/fontawesome/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.woff) format("woff"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}
.fa,
.far,
.fas {
  font-family: Font Awesome\5 Free;
}
.fa,
.fas {
  font-weight: 900;
}
.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  left: -2em;
  line-height: inherit;
  position: absolute;
  text-align: center;
  width: 2em;
}
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.fa-xs {
  font-size: 0.75em;
}
.fa-sm {
  font-size: 0.875em;
}
.fa-2_3x {
  font-size: 2.3em;
}
.fa-1x {
  font-size: 1em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-6x {
  font-size: 6em;
}
.fa-7x {
  font-size: 7em;
}
.fa-8x {
  font-size: 8em;
}
.fa-9x {
  font-size: 9em;
}
.fa-10x {
  font-size: 10em;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-user:before {
  content: "\f007";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-search:before {
  content: "\f002";
}
.fa-edit:before {
  content: "\f044";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-star:before {
  content: "\f005";
}
.fa-share:before {
  content: "\f064";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-plus:before {
  content: "\f067";
}
.fa-chart-bar:before {
  content: "\f080";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-universal-access:before {
  content: "\f29a";
}
.message-wrapper {
  background-color: #fff;
  border: 1px solid #b7b7b7;
  border-radius: 6px;
  border-top-color: #d0d0d0;
  -moz-box-shadow: 0 0 30px 10px #d1d1d1;
  -webkit-box-shadow: 0 0 30px 10px #d1d1d1;
  box-shadow: 0 0 30px 10px #d1d1d1;
  font-size: 14px;
  height: auto;
  left: calc(50% - 175px);
  margin-top: 10px;
  opacity: 1;
  position: fixed;
  top: 0;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 350px;
  z-index: 999;
}
.message-wrapper-inner {
  border-radius: inherit;
  border-top: 1px solid #f4f5f6;
}
.message-wrapper.hidden {
  opacity: 0;
  top: -200px;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.message-wrapper button {
  border-radius: 6px;
  height: 12px;
  position: absolute;
  top: 6px;
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 12px;
}
.message-wrapper .message-close {
  background-color: #ff564f;
  border: 1px solid #dc413a;
  left: 8px;
}
.message-container {
  border-radius: inherit;
  border-top: 22px solid #e6e3e5;
}
.message-container:before {
  color: #363636;
  content: "Message";
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Lucida Sans Unicode, Lucida Grande, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 13px;
  font-weight: 600;
  left: 50%;
  letter-spacing: 0.4px;
  margin-left: -27px;
  position: absolute;
  top: 4px;
  width: 54px;
}
.message-container .message-inner {
  border-top: 1px solid #cccacc;
  padding: 8px;
}
