@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(/static/font/inter/files/inter-latin-400-normal.woff2)
      format("woff2"),
    url(/static/font/inter/files/inter-all-400-normal.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  src: url(/static/font/inter/files/inter-latin-600-normal.woff2)
      format("woff2"),
    url(/static/font/inter/files/inter-all-600-normal.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  src: url(/static/font/inter/files/inter-latin-700-normal.woff2)
      format("woff2"),
    url(/static/font/inter/files/inter-all-700-normal.woff) format("woff");
}
@font-face {
  font-display: swap;
  font-family: Rasa;
  font-style: normal;
  font-weight: 600;
  src: url(/static/font/rasa/files/rasa-latin-600-normal.woff2) format("woff2"),
    url(/static/font/rasa/files/rasa-all-600-normal.woff) format("woff");
}
@font-face {
  font-display: block;
  font-family: Font Awesome\5 Free;
  font-style: normal;
  font-weight: 400;
  src: url(/static/font/fontawesome/webfonts/fa-regular-400.eot);
  src: url(/static/font/fontawesome/webfonts/fa-regular-400.eot?#iefix)
      format("embedded-opentype"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.woff2) format("woff2"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.woff) format("woff"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.ttf) format("truetype"),
    url(/static/font/fontawesome/webfonts/fa-regular-400.svg#fontawesome)
      format("svg");
}
.far {
  font-weight: 400;
}
@font-face {
  font-display: block;
  font-family: Font Awesome\5 Free;
  font-style: normal;
  font-weight: 900;
  src: url(/static/font/fontawesome/webfonts/fa-solid-900.eot);
  src: url(/static/font/fontawesome/webfonts/fa-solid-900.eot?#iefix)
      format("embedded-opentype"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.woff2) format("woff2"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.woff) format("woff"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.ttf) format("truetype"),
    url(/static/font/fontawesome/webfonts/fa-solid-900.svg#fontawesome)
      format("svg");
}
.fa,
.far,
.fas {
  font-family: Font Awesome\5 Free;
}
.fa,
.fas {
  font-weight: 900;
}
.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0;
}
.fa-ul > li {
  position: relative;
}
.fa-li {
  left: -2em;
  line-height: inherit;
  position: absolute;
  text-align: center;
  width: 2em;
}
.fa-lg {
  font-size: 1.3333333333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}
.fa-xs {
  font-size: 0.75em;
}
.fa-sm {
  font-size: 0.875em;
}
.fa-2_3x {
  font-size: 2.3em;
}
.fa-1x {
  font-size: 1em;
}
.fa-2x {
  font-size: 2em;
}
.fa-3x {
  font-size: 3em;
}
.fa-4x {
  font-size: 4em;
}
.fa-5x {
  font-size: 5em;
}
.fa-6x {
  font-size: 6em;
}
.fa-7x {
  font-size: 7em;
}
.fa-8x {
  font-size: 8em;
}
.fa-9x {
  font-size: 9em;
}
.fa-10x {
  font-size: 10em;
}
.fa,
.fab,
.fad,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: auto;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  line-height: 1;
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-user:before {
  content: "\f007";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-search:before {
  content: "\f002";
}
.fa-edit:before {
  content: "\f044";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-star:before {
  content: "\f005";
}
.fa-share:before {
  content: "\f064";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-plus:before {
  content: "\f067";
}
.fa-chart-bar:before {
  content: "\f080";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-universal-access:before {
  content: "\f29a";
}
.nav-drop,
.nav-link {
  cursor: pointer;
  display: inline-block;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Lucida Sans Unicode, Lucida Grande, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  padding: 0 10px;
  position: relative;
  z-index: 999;
}
.nav-drop svg,
.nav-link svg {
  fill: #575353;
  height: 17px;
  width: 17px;
}
.nav-drop:hover svg,
.nav-link:hover svg {
  fill: #6c757d;
}
.sideNav.sticky {
  position: fixed;
  top: 42px;
}
.sideNav a {
  border: 1px solid #eee;
  border-radius: 20px;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.05),
    0 0 0.0625rem rgba(0, 0, 0, 0.1);
  display: block;
  height: 39px;
  margin-bottom: 12px;
  padding-top: 10px;
  width: 39px;
}
.sideNav .nav-linkDisabled svg {
  cursor: default;
  opacity: 0.7;
}
.sideNav .nav-link svg {
  fill: #6c757d;
}
.sideNav .nav-link:hover svg {
  fill: #575353;
}
.sideNav .nav-link.favorite svg {
  fill: gold !important;
}
.sideNav .nav-link .nav-linkRun svg {
  fill: #25c83a;
}
.sideNav .nav-link .nav-linkRun:hover svg {
  fill: #12a127;
}
.sideNav .nav-link.favorite:hover svg {
  fill: #e6c300 !important;
}
.atlas-navbar {
  padding: 16px 0;
}
.atlas-navbar .navbar-brand {
  margin-left: 0 !important;
}
.atlas-navbar .navbar-brand a {
  padding-bottom: 0;
  padding-top: 0;
}
.atlas-navbar .navbar-brand a img {
  height: 50px;
  max-height: 50px;
}
.atlas-navbar .has-dropdown .navbar-link:hover,
.atlas-navbar a.navbar-item:hover {
  color: #6c757d;
}
.new-mail-badge {
  background-color: #fc433a;
  border: 1px solid #f4f5f6;
  border-radius: 18px;
  color: #fff;
  display: none;
  font-family: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Lucida Sans Unicode, Lucida Grande, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  min-width: 18px;
  padding: 0 4px 0 5px;
  position: absolute;
  right: 0;
  top: -4px;
}
