/* text colors */
$color-text-white: #fff;
$color-text-very-light-grey: #aaa;
$color-text-light-grey: #6c757d;

$color-text-dark-grey: #575353; // primary text color
$color-text-med-grey: #414548;
$color-search-text: #495057;
$color-text-darker-grey: #363636; // in editor
$color-text-very_dark_grey: #272727;

$color-text-red: #ff6961;
$color-text-green: #25c83a;
$color-text-blue-light: #80abee;
$color-text-blue: #0084db;

$color-text-orange-dark: #8e4d00;
$color-text-orange-med: #b38600;
$color-text-orange: #ffb529;
$color-text-gold: #e6c300;
$color-text-gold-med: #ffd700;

$color-text-purple: #4e4cd0;
$color-text-teal: #00a6c6;
$color-text-bright-green: #13b810;

/* background colors */
$color-background-white: #fff;
$color-background-grad-white: linear-gradient(rgba(255, 255, 255, 0), #fff);

$color-background-light: #fff7f7;
$color-background-med: #ededed;
$color-background-med-light: #e0e4e7;
$color-background-dark: #ced3db;
$color-background-modal: #e6e3e5;
$color-background-live-editor: #f5f5f5;
$color-background-editor-add-image: #e0e4e7;
$color-background-query-boxy: #474949;
$color-editor-save-background: rgba(0, 0, 0, 0.1);
$color-background-error: #c72e2e;
$color-close-button-background: #ff564f;
$color-mail-badge-background: #fc433a;
$color-code-background: #f6f6f6;
$color-background-blue-med: #3f8bf6;

/* border colors */
$color-border-green: #12a127;
$color-border-red: #dc413a;
$color-border-orange: #dc9618;

$color-border-light-grey: #eaeced;
$color-border-med-grey: #c8c8c8;
$color-border-darker-grey: #cacac8;
$color-border-white: #fff;
$color-border-med: #dee2e6;
$color-border-light: #f5f5f5;
$color-border-dark: #c8c8c8;
$color-editor-border: rgb(200, 200, 200);
$color-message-box-inner-border-top: #e6e3e5;
$color-editor-save-border: rgba(0, 0, 0, 0.2);
$color-editor-save-border-hover: rgba(0, 0, 0, 0.15);

$color-search-border: #ced4da;

$color-search-icon: #575353;
$color-search-icon-dark: #212020;
$color-search-placeholder: #6c757d;
$color-search-history-background: #e9ecef;

$color-report-dropdown-background: rgba(0, 0, 0, 0.03);
$color-report-dropdown-box-border: rgba(0, 0, 0, 0.2);

$color-border-live-editor: rgba(0, 0, 0, 0.2);
$color-border-left: #e2e5e8;
$color-border-right: #c7cbcd;
$color-border-top: #f4f6f7;
$color-border-bottom: #e6e6e6;
$color-message-box-border-top: #f4f5f6;
$color-border-top-video: #d0d0d0;
$color-editor-button: #575353;
$color-editor-button-hover: #dbd7d8;
$color-border-editor: #b7b7b7;
$color-border-bottom-editor: #cccacc;

$color-editor-list-input-border: rgb(200, 200, 200);
$color-editor-list-input-border-focus: #80bdff;
$color-editor-list-input-focus-shadow: rgba(0, 123, 255, 0.25);
$color-input-border-bottom: #beb8ba;
$color-input-outline: #0084db;

/* shadow colors */
$color-shadow: #e1e1e1;
$color-shadow-one: #d1d1d1;
$color-shadow_two: rgba(0, 123, 255, 0.25);

/* button and link colors */
$color-active: #3f8bf6;
$color-active-light: #b2d3ff;
$color-active-folder: #3c89f9;
$color-group: #8e4d00;
$color-group-active: #ffb529;

$color-gold: #e6c300;
$color-gold-med: #ffd700;
$color-gold-dark: #ffc107;
$color-minimize-button: #b38600;

$color-modal-save: #0084db;
$color-atlas-color: #0084db;
$color-atlas-color-dark: #007acc;

$color-light-grey: #dbd7d8;
