$font-san-serif: sf, -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
  "Helvetica Neue", "Lucida Sans Unicode", "Lucida Grande", "Arial", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-serif: "nytcheltenham", "Georgia", "Times New Roman", serif;
$font-serif-body: "nytimperial", "Georgia", "Times New Roman", serif,
  -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue",
  "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-atlas-a: "marck_scriptregular", "Georgia", "Times New Roman", serif;
