[run]
source = .
branch = True

[report]
show_missing = True
skip_covered = True
omit =
    */test*
    */asgi.py
    */wsgi*.py
    settings/
    */models-dev.py
    */manage.py
    */testutils.py
    */routers.py
    */migrations*
    index/models_sqlsvr.py
    atlas/browserstack_runner.py
    atlas/no_pass_auth.py
    index*
    mail*
    report*
    etl*
    user*
    search*
